<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDPageController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A58B9B1D1BF5854C002A8F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58B9B361BF5854C002A8F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58B9B411BF5854C002A8F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
